# Credenciais do Supabase
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=seu-token-anonimo-aqui

# Senha de Acesso ao Painel Admin (/admin)
VITE_ADMIN_PASSWORD=admin123

# Beehive Payment Gateway
VITE_BEEHIVE_PK=pk_live_v2NUfvA1aeOjgnxITEFPVjgwmoBCBR3mMH
VITE_BEEHIVE_SK=sua-secret-key-aqui
